<a href="https://colab.research.google.com/github/Swathivijay54/IntroToPython/blob/master/python_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Python

In [ ]:
#Python is a popular programming language. 
#It was created by Guido van Rossum, and released in 1991
#It is used for:
  #web development (server-side),
  #software development,
  #mathematics,
  #system scripting.

#What can Python do?
  #Python can be used on a server to create web applications.
  #Python can be used alongside software to create workflows.
  #Python can connect to database systems. It can also read and modify files.
  #Python can be used to handle big data and perform complex mathematics.
  #Python can be used for rapid prototyping, or for production-ready software development.
#Why Python?
  #Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
  #Python has a simple syntax similar to the English language.
  #Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
  #Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
  #Python can be treated in a procedural way, an object-oriented way or a functional way.

In [ ]:
#Printing
x = 5
y = "Hello, World!"

print(x)
print(y)

5
Hello, World!

In [ ]:
#This is a comment.
print("Hello, Vijay!")

Hello, Vijay!

In [ ]:
print("Hello, World!") #This is a comment.

Hello, World!

In [ ]:
#Comments can be used to explain Python code.
#Comments can be used to make the code more readable.
#Comments can be used to prevent execution when testing code.
print("Hello, World!")

Hello, World!

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [ ]:
#Creating Variables
#Python has no command for declaring a variable.
#A variable is created the moment you first assign a value to it.
x =5
y = "John"
print(x)
print(y)

5
John

In [ ]:
#Variables do not need to be declared with any particular type, and 
#can even change type after they have been set.
x = 4       # x is of type int
print(x)
x = "Sally" # x is now of type str
print(x)

4
Sally

In [ ]:
#Casting
#If you want to specify the data type of a variable, this can be done with casting.
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
rno= input()

#Python Data Types

In [ ]:
#Built-in Data Types
#  In programming, data type is an important concept.
#  Variables can store data of different types, and different types can do different things.
#  Python has the following data types built-in by default, in these categories:

    #Text Type:	        str
    #Numeric Types:	    int, float, complex
    #Sequence Types:	  list, tuple, range
    #Mapping Type:	    dict
    #Set Types:	        set, frozenset
    #Boolean Type:	    bool
    #Binary Types:	    bytes, bytearray, memoryview

In [ ]:
#You can get the data type of a variable with the type() function.
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
#Python Numbers
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
#Type Conversion
x = 1    # int 
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
#Random number generation
import random
print(random.randrange(1, 10))

In [ ]:
#Python Casting
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [ ]:
#Converting to string
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

In [ ]:
#Python Strings
#Strings in python are surrounded by either single quotation marks, or double quotation marks.
#You can use double or single quotes:

print("Hello")
print('Hello')

Hello
Hello

In [ ]:
a = """Hello Dear Participants
Welcome to the FDP
Enjoy the DL Sessions"""
print(a)

Hello Dear Participants
Welcome to the FDP
Enjoy the DL Sessions

In [ ]:
#Strings are Arrays
a = "Hello, World!"
print(a[1])

e

In [ ]:
#Looping Through a String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
#String length1
a = "Hello, World!"
print(len(a))

13

#Conditional Statements

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
#Indentation
a = 33
b = 200

if b > a:
print("b is greater than a")

In [ ]:
#Elif
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
#else
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
#Short Hand If
a = 200
b = 33

if a > b: print("a is greater than b")

a is greater than b

In [ ]:
#Short Hand If ... Else
a = 2000
b = 330

print("A") if a > b else print("B")

A

In [ ]:
a = 330
b = 330

print("A") if a > b else print("=") if a == b else print("B")

In [ ]:
#and
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
#or
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
#nested if
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [ ]:
a = 33
b = 200

if b > a:
  pass


# having an empty if statement like this, would raise an error without the pass statement

#Python Loops

In [ ]:
#Python has two primitive loop commands:
  #while loops
  #for loops
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

In [ ]:
i = 0
while i <= 6:
  i += 1
  if i == 3:
    continue
  print(i)

# Note that number 3 is missing in the result

1
2
4
5
6
7

In [ ]:
#else 
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry